body {
    background-color:aliceblue 
}
    
/* 

#header{
    background-image: linear-gradient(to right, rgb(2, 117, 240), rgb(2, 117, 240), rgba(108, 247, 247, 0.856), rgba(219, 252, 252, 0.877));
}

.h1, .h2 {
    font-size: 350%;
    font-weight: 500;
} */