body {
    background-color: rgb(240, 213, 252);
}

header {
  background: linear-gradient(90deg, rgba(255, 0, 0, 0.384), rgba(255, 166, 0, 0.452), rgba(255, 255, 0, 0.452),#7bed9f, #3498dba2, rgba(128, 0, 128, 0.575), rgba(0, 0, 0, 0.329), rgba(87, 29, 29, 0.637));
  padding-top: 1%;

}

section {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 2%;
}

section h1 {
  font-size: 50px;
  text-align: center;
  font-family: cursive;
}

section p {
  font-size: 40px;
  text-align: center;
  font-family: cursive;
}

/* hamburger */
.circlecheck {
  display: none;
}

.burger {
  position: relative;
  background-color: white;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 5vh; 
  right: 5vw; 
  z-index: 2000;
  box-shadow: 0 1rem 3rem black;
  text-align: center; 
  cursor: pointer;
}

.background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5vh; 
  right: 5.5vw; 
  background-image: radial-gradient(rgba(128, 0, 128), black);
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  transition: all 1.2s;
}

.list {
  font-family: cursive;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align:center;
  width: 50%;
}

.item {
  margin: 12px;
  font-size: 35px;
  color:rgb(240, 213, 252)
}

.link:hover,
.link:active {
  color: rgba(0, 17, 250, 0.623);
  cursor: pointer;
}

.circlecheck:checked ~ .background {
  transform: scale(26);
}
.circlecheck:checked ~ .nav {
  opacity: 1;
  width: 100%;
  right: 0;
}

.buns {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buns,
.buns::before,
.buns::after {
  width: 3rem;
  height: 3px;
  background-color: rgba(128, 0, 128);
  display: inline-block;
}

.buns::before,
.buns::after {
  transition: all 0.5s;
  content: "";
  position: absolute;
  left: 0;
}

.buns::before {
  top: -0.8rem;
}
.buns::after {
  top: 0.8rem;
}

/* .circlecheck:hover buns:before {
  top: -1rem;
}
.circlecheck:hover buns::after {
  top: 1rem;
} */

.circlecheck:checked + .burger .buns {
  background-color: transparent;
}

.circlecheck:checked + .burger .buns::before {
  top: 0;
  transform: rotate(135deg);
}
.circlecheck:checked + .burger .buns::after {
  top: 0;
  transform: rotate(-135deg);
}