body {
    background-color: rgb(240, 213, 252);
}

header {
  background: linear-gradient(90deg, rgba(87, 29, 29, 0.637), rgba(255, 0, 0, 0.384), rgba(255, 166, 0, 0.452), rgba(255, 255, 0, 0.452),#7bed9f, #3498dba2, rgba(128, 0, 128, 0.575), rgba(0, 0, 0, 0.486));
  padding-top: 1%;

}

section {
  padding-bottom: 2%;
}

section h1 {
  font-size: 3rem;
  font-family: 'DynaPuff', cursive;
  text-align: center;
}

section p {
  font-size: 2.5rem;
  font-family: 'DynaPuff', cursive;
  text-align: center;
}
 /* hamburger & burger list styling */
.circlecheck {
  display: none;
}

.burger {
  background-color: rgb(240, 213, 252);
  box-shadow: 0 15px 75px black;
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50vh;
  position:fixed;
  top: 5%; 
  right: 5%; 
  z-index: 2000;
  text-align: center; 
  cursor: pointer;
}

.background {
  position: fixed;
  top: 7%; 
  right: 5.6%;   
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-image: radial-gradient(rgba(128, 0, 128), black);
  transition: transform 1s 
}

.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60%;
  transition: all 2s;
}

.list {
  font-family: cursive;
  position: absolute;
  top: 30%;
  left: 45%;
  width: 50%;
  /* transform: translate(-50%, -50%); */
  list-style: none;
  text-align:right;
}

.item {
  margin: 12px;
  font-size: 35px;
  color:rgb(240, 213, 252)
}

.link:hover,
.link:active {
  color: #3498dba2;
  cursor: pointer;
}

.circlecheck:checked ~ .background {
  transform: scale(26);
}
.circlecheck:checked ~ .nav {
  width: 100%;
  right: 0;
}

.buns {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buns,
.buns::before,
.buns::after {
  width: 3rem;
  height: 3px;
  background-color: rgba(128, 0, 128);
  display: inline-block;
}

.buns::before {
  transition: all 0.5s;
  content: "";
  position: absolute;
  left: 0;  
  top: -0.8rem;
}
.buns::after {
  transition: all 0.5s;
  content: "";
  position: absolute;
  left: 0;
  top: 0.8rem;
}

.circlecheck:checked + .burger .buns {
  background-color: transparent;
}

.circlecheck:checked + .burger .buns::before {
  top: 0;
  transform: rotate(135deg);
}

.circlecheck:checked + .burger .buns::after {
  top: 0;
  transform: rotate(-135deg);
}

/* featuerd pet styling */
#featuredPet {
    font-family: 'DynaPuff', cursive;
}

/* pet result styling */

#petName {
    font-size: 2rem;
    font-family: 'DynaPuff', cursive;
    color:rgba(128, 0, 128);
}

#petBio {
    font-size: 15px;
    font-family: sans-serif;
}


.feeline-lucky-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

